<div class="col s3">
  <div class="collection">
    <a href="<%= url_for '/instance/create' %>" class="collection-item"><i class="material-icons tiny">note_add</i>Create Instance</a>
    <a href="<%= url_for '/instance/show' %>" class="collection-item"><i class="material-icons tiny">view_list</i>Show Instance</a>
  </div>
</div>
